<footer class="custom-footer md-footer">
  <div class="custom-footer-top">
    <!-- Social icons -->
    <div class="custom-footer-icons">
      <!-- Blog icon -->
      <a href="https://www.cyberandlaw.com" target="_blank" title="Visit CAL Blog">
        <img src="{{ base_url }}/assets/images/favicon.png" alt="Cyber & Law" class="custom-footer-icon" />
      </a>

      <!-- GitHub icon -->
      <a href="https://github.com/cyberandlaw" target="_blank" title="View on GitHub">
        <svg class="custom-social-icon" width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
      </a>

      <!-- Mail icon -->
      <a href="mailto:feedback@cyberandlaw.com" target="_blank" title="Send Feedback" class="custom-social-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" fill="white">
          <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
        </svg>
      </a>
    </div>

    <!-- Footer nav links -->
    <nav class="custom-footer-nav">
      <a href="{{ base_url }}/" class="footer-link">About</a>
      <a href="{{ base_url }}/contact/" class="footer-link">Contact</a>
      <a href="{{ base_url }}/terms/" class="footer-link">Terms and Conditions</a>
      <a href="{{ base_url }}/privacy/" class="footer-link">Privacy Policy</a>
      <a href="{{ base_url }}/disclaimer/" class="footer-link">Disclaimer</a>
    </nav>
  </div>
</footer>
